.nav-wrapper{
  margin-bottom: 5em;
  background-color: #00838f;
}

.center-img {
  margin: auto;
  min-width: 250px;
  max-width: 325px;
  width: 30%;
  border: 3px solid rgba(69, 97, 29, 0.801);
  padding: 10px;
  margin-top: 2em;  
  margin-bottom: 4em;
}
.tabs .tab a{
    color:#00838f;
}
.tabs .tab a:hover,.tabs .tab a.active {
	background-color:transparent;
	color:#00b8d4;
}
.modal-header .tabs .tab a:hover,.modal-header .tabs .tab a.active {
	background-color:transparent;
	color:#00b8d4;
}
.tabs .indicator {
	background-color:#006064;
}
 .tabs {
    margin-bottom: 2em;
}

.dropdown-content{
   width: max-content !important;
   height:auto !important;
}

.title-block{
    background-color: #00838f;
    text-decoration-color: white;
    height: 100%;
}

.waves-light {
    @extend .teal, .darken-1;
}

.center-align {
    float: none !important;
    margin-left: auto;
    margin-right: auto;
}

.modal {
    background-color: #fff;
    &.modal-fixed-header {
        padding: 0;
        height: 70%;
        .modal-header {
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            position: absolute;
            top: 0;
        }
        .modal-header {
            border-radius: 0 0 2px 2px;
            //background-color: #fafafa;
            padding: 4px 6px;
            height: 56px;
            width: 100%;
        }
        .modal-content {
            position: absolute;
            top:56px;
            height: calc(100% - 56px);
            max-height: 100%;
            width: 100%;
            overflow-y: auto;
        }
    }
}

textarea .materialize-textarea .ingrds_field {
    white-space: pre-wrap;
}