{% extends 'base.html'%} {% block content %}
    {% if recipe != "NEW" %}
        {% set recp_id = recipe._id -%}
        {% set recp_title = recipe.title -%}
        {% set recp_descr = recipe.description -%}
        {% set recp_course = recipe.course -%}
        {% set recp_cuisine = recipe.cuisine -%}
        {% set recp_tools = recipe.tools -%}
        {% set recp_preptime = recipe.prep_time -%}
        {% set recp_cooktime = recipe.cook_time -%}
        {% set recp_numserv = recipe.no_servings -%}
        {% set recp_kcal = recipe.kcal -%}
        {% set recp_carbs = recipe.carbs -%}
        {% set recp_fat = recipe.fat -%}
        {% set recp_sugars = recipe.sugars -%}
        {% set recp_salt = recipe.salt -%}
        {% set recp_fibre = recipe.fibre -%}
        
        
        {% set recp_prepsteps = recipe.prep_steps -%}
    {% else %}
        {% set recp_id = 'NEW' -%}
        {% set recp_title = '' -%}
        {% set recp_title = '' -%}
        {% set recp_descr = '' -%}
        {% set recp_course = '' -%}
        {% set recp_cuisine = '' -%}
        {% set recp_tools = '' -%}
        {% set recp_preptime = '' -%}
        {% set recp_cooktime = '' -%}
        {% set recp_numserv = '' -%}
        {% set recp_kcal = '' -%}
        {% set recp_carbs = '' -%}
        {% set recp_fat = '' -%}
        {% set recp_sugars = '' -%}
        {% set recp_salt = '' -%}
        {% set recp_fibre = '' -%}
        {% set recp_ingrd = '' -%}
        {% set recp_prepsteps = '' -%}
        {% set recp_imgurl = '' -%}
    {% endif %}
<div class="container">
  <div class="row  justify-content-center">
    <div class="col s12 center title-block">
      <h4 class="white-text text-darken-2">Add / Update</h4>
    </div>
  </div>
</div>
<div class="row">
    <form action="{{ url_for('insert_recipe', recipe_id=recp_id) }}" method="POST" class="col s12">
      <div class="row">
        <div class="input-field col s10 m6">
          <input placeholder="Placeholder" id="title" name="title" value="{{recp_title}}" type="text" class="validate">
          <label for="title">Recipe Title</label>
        </div>
        <div class="input-field col s12 m6">
          <input id="description" name="description" value="{{recp_descr}}" type="text" class="validate">
          <label for="description">Description</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
            <select id="course" name="course">
                {% if recp_course %}
                    <option value="{{recp_course}}" selected>{{recp_course}}</option>
                {% else %}
                    <option value="" disabled selected>Choose Course</option>
                {% endif%}
                {% for course in courses %}
                    <option value="{{course.course_desc}}">{{course.course_desc}}</option>
                {% endfor %}
            </select>
            <label>Course</label>
        </div>
        <div class="input-field col s6">
            <select id="cuisine" name="cuisine">
                {% if recp_course %}
                    <option value="{{recp_cuisine}}" selected>{{recp_cuisine}}</option>
                {% else %}
                    <option value="" disabled selected>Choose Cuisine</option>
                {% endif%}
                {% for cuisine in cuisines %}
                    <option value="{{cuisine.cuisine_name}}">{{cuisine.cuisine_name}}</option>
                {% endfor %}
            </select>
            <label>Cuisine</label>
        </div>
        <div class="input-field col s6">
            <select multiple id="tools" name="tools">
                <option value="" disabled>Choose Tools Used</option>
                {% for tool in tools %}
                    {% if tool.tool_name in recipe.tools %}  
                        <option value="{{tool.tool_name}}" selected >{{tool.tool_name}}</option>  
                    {% else %}
                        <option value="{{tool.tool_name}}">{{tool.tool_name}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <label>Tools Used</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4">
          <input id="prep_time" name="prep_time" value="{{recp_preptime}}" type="text" class="validate">
          <label for="prep_time">Prep. Time</label>
        </div>
        <div class="input-field col s4">
          <input id="cook_time"  name="cook_time" value="{{recp_cooktime}}" type="text" class="validate">
          <label for="cook_time">Cook Time</label>
        </div>
        <div class="input-field col s4">
          <input id="no_servings" name="no_servings" value="{{recp_numserv}}" type="text" class="validate">
          <label for="no_servings">No. Servings</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <em>Nutritional Values:</em>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4">
          <input id="kcal" name="kcal" value="{{recp_kcal}}" type="text" class="validate">
          <label for="kcal">KCal</label>
        </div>
        <div class="input-field col s4">
          <input id="carbs" name="carbs" value="{{recp_carbs}}" type="text" class="validate">
          <label for="carbs">Carbs</label>
        </div>
        <div class="input-field col s4">
          <input id="fat" name="fat" value="{{recp_fat}}" type="text" class="validate">
          <label for="fat">Fat</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4">
          <input id="sugars" name="sugars" value="{{recp_sugars}}" type="text" class="validate">
          <label for="sugars">Sugars</label>
        </div>
        <div class="input-field col s4">
          <input id="salt" name="salt" value="{{recp_salt}}" type="text" class="validate">
          <label for="salt">Salt</label>
        </div>
        <div class="input-field col s4">
          <input id="fibre" name="fibre" value="{{recp_fibre}}" type="text" class="validate">
          <label for="fibre">Fibre</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <em>Ingredients:</em>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
        
          <textarea id="ingredients" name="ingredients" value="" class="materialize-textarea">
          {% if recipe != "NEW" -%} 
          {% for ingrd in recipe.ingredients -%} 
          {{ ingrd|safe }} <br>
          {%- endfor %} 
          {%- endif %} </textarea>
        
          <label for="ingredients">Ingredients</label>
          <span class="helper-text" data-error="wrong" data-success="right">Enter each ingredient on a new line</span>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <em>Preparation Steps:</em>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="prep_steps" name="prep_steps" value="{{recp_prepsteps}}" class="materialize-textarea"></textarea>
          <label for="prep_steps">Preparation Steps</label>
          <span class="helper-text" data-error="wrong" data-success="right">Enter each step on a new line</span>
        </div>
      </div>
      <div class="input-field col s12 m6">
          <input id="imgurl" name="imgage_url" value="{{recp_imgurl}}" type="text" class="validate">
          <label for="imgurl">Image URL:</label>
        </div>
      <div class="row">
        <div class="col s6 offset-s4 offset-m6">
            <button class="btn waves-effect waves-light" type="submit">Update
                <i class="material-icons left">playlist_add</i>
            </button>
        </div>
        
      </div>
    </form>
  </div>

{% endblock %}