{% extends 'base.html'%} {% block content %}
<div class="row justify-content-center">
  <h2>Add Recipe</h2>
</div>
<div class="row">
    <form action="{{ url_for('insert_recipe') }}" method="POST" class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Placeholder" id="title" type="text" class="validate">
          <label for="title">Recipe Title</label>
        </div>
        <div class="input-field col s12 m6">
          <input id="description" type="text" class="validate">
          <label for="description">Description</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
            <select id="course" name="course">
                <option value="" disabled selected>Choose Course</option>
                {% for course in courses %}
                    <option value="{{course.course_desc}}">{{course.course_desc}}</option>
                {% endfor %}
            </select>
            <label>Course</label>
        </div>
        <div class="input-field col s6">
            <select id="cuisine" name="cuisine">
                <option value="" disabled selected>Choose Cuisine</option>
                {% for cuisine in cuisines %}
                    <option value="{{cuisine.cuisine_name}}">{{cuisine.cuisine_name}}</option>
                {% endfor %}
            </select>
            <label>Cuisine</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4">
          <input id="prep_time" type="text" class="validate">
          <label for="prep_time">Prep. Time</label>
        </div>
        <div class="input-field col s4">
          <input id="cook_time" type="text" class="validate">
          <label for="cook_time">Cook Time</label>
        </div>
        <div class="input-field col s4">
          <input id="no_servings" type="text" class="validate">
          <label for="no_servings">No. Servings</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <em>Nutritional Values:</em>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4">
          <input id="kcal" type="text" class="validate">
          <label for="kcal">KCal</label>
        </div>
        <div class="input-field col s4">
          <input id="fat" type="text" class="validate">
          <label for="fat">Fat</label>
        </div>
        <div class="input-field col s4">
          <input id="carbs" type="text" class="validate">
          <label for="carbs">Carbs</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4">
          <input id="salt" type="text" class="validate">
          <label for="salt">Salt</label>
        </div>
        <div class="input-field col s4">
          <input id="sugars" type="text" class="validate">
          <label for="sugars">Sugars</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <em>Ingredients:</em>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="ingredients" class="materialize-textarea"></textarea>
          <label for="ingredients">Ingredients</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <em>Preparation Steps:</em>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="prep_steps" class="materialize-textarea"></textarea>
          <label for="prep_steps">Preparation Steps</label>
        </div>
      </div>
      <div class="row">
        <button class="btn waves-effect waves-light" type="submit">Add Recipe
            <i class="material-icons right">playlist_add</i>
        </button>
        
      </div>
    </form>
  </div>

{% endblock %}