<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />
</head>

<body>
    <header>
        <!-- Dropdown Structure -->
        <ul id="dropdown1" class="dropdown-content">
            <li><a href="#!">one</a></li>
            <li><a href="#!">two</a></li>
            <li class="divider"></li>
            <li><a href="#!">three</a></li>
        </ul>        

        <nav>
            <div class="nav-wrapper cyan darken-4">
                
                <form>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <div class="input-field inline ">
                        <input id="search" type="search" required>
                        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                    </div>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="addedit-recipe.html">Add Recipe</a></li>
                        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Advanced Search<i class="material-icons right">arrow_drop_down</i></a></li>
                    </ul>  
                    
                </form>
                
            </div>
        </nav>
        
        <ul class="sidenav" id="mobile-demo">
            <li><a href="addedit-recipe.html">Add Recipe</a></li>
            <li><a href="badges.html">Advanced Search</a></li>
        </ul>
    
        
    </header>
    
    <div class="center-img">
            <img class="main-img" src="static/images/lets-cook-logo.png"></img>
    </div>
    
    
        {% block content %} {% endblock %}
    
    
    <footer class="page-footer cyan darken-4">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h5 class="white-text">Footer Content</h5>
                    
                    <span class="grey-text text-lighten-4 ">
                        <a href="facebook.html"><i class="fab fa-facebook-square fa-3x"></i></a>
                        <a href="twitter.html"><i class="fab fa-twitter-square fa-3x"></i></a>
                        <a href="instagram.html"><i class="fab fa-instagram fa-3x"></i></a>
                    </span>
                </div>
                <div class="col-sm-12 col-md-4 offset-md-6">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="{{url_for('get_catalog')}}">Full Recipe Catalog</a></li>
                        <li><a class="grey-text text-lighten-3" href="tools.html">Tools</a></li>
                        <li><a class="grey-text text-lighten-3" href="maintenance.html">Lists - Maintenace</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2019 Copyright E.Dowling
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.collapsible').collapsible();
            $('select').material_select();
            $(".button-collapse").sideNav();
            $(".dropdown-trigger").dropdown();
            $('.sidenav').sidenav();
            $('.dropdown-toggle').dropdown();
            $('.tabs').tabs();
        });
        
        
        
    </script>
</body>
</html>