<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />
</head>

<body>
    <nav>
        <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Let's Cook ...</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            {% if session['username'] %}
              <li> Welcome, {{session['username']}}     </li>
              <li><a href="/signout">Sign Out</a></li>
            {% else %}
                <li><a href="{{url_for('index')}}">Login</a></li>
            {% endif %}
            <li><a href="{{url_for('get_catalog')}}">Home</a></li>
            <li><a href="{{url_for('add_edit_recipe')}}">Add Recipe</a></li>
            <li><a href="{{url_for('featured_tools')}}">Featured Tools</a></li>
            <li><a href="{{url_for('maintenance')}}">Maintenance</a></li>
            
        </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        {% if session['username'] %}
            <li><a href="/signout">Sign Out</a></li>
        {% else %}
            <li><a href="{{url_for('index')}}">Login</a></li>
        {% endif %}
            <li><a href="{{url_for('get_catalog')}}">Home</a></li>
            <li><a href="{{url_for('add_edit_recipe')}}">Add Recipe</a></li>
            <li><a href="{{url_for('featured_tools')}}">Featured Tools</a></li>
            <li><a href="{{url_for('maintenance')}}">Maintenance</a></li>
            
    </ul>
    <div class="row hide-on-med-and-up small-msg">
        {% if session['username'] %}
            <p> Welcome, {{session['username']}}! </p>
        {% endif %}
    </div>
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="chip">
                    {{message}}
                    <i class="close material-icons">close</i>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    <div class="center-img">
            <img class="responsive-img" src="{{ url_for('static', filename='images/lets-cook-logo.png') }}"></img>
    </div>
    
    
        {% block content %} {% endblock %}
    
    
    <footer class="page-footer cyan darken-4">
        <div class="container">
            <div class="row">
                <div class="col s12 col m6">
                    <h5 class="white-text">Footer Content</h5>
                    
                    <span class="grey-text text-lighten-4 ">
                        <a href="http://www.facebook.html/letscooktogether"><i class="fab fa-facebook-square fa-3x"></i></a>
                        <a href="http://www.twitter.html/letscooktogether"><i class="fab fa-twitter-square fa-3x"></i></a>
                        <a href="http://www.instagram.html/letscooktogether"><i class="fab fa-instagram fa-3x"></i></a>
                    </span>
                </div>
                <div class="col s12 col m4 offset-m6">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="{{url_for('get_catalog')}}">Full Recipe Catalog</a></li>
                        <li><a class="grey-text text-lighten-3" href="{{url_for('featured_tools')}}">Featured Tools</a></li>
                        <li><a class="grey-text text-lighten-3" href="{{url_for('maintenance')}}">Lists - Maintenace</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2020 Copyright E.Dowling
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/jscript.js') }}"></script>
    {% block custom_js %}
    {% endblock %}
    
</body>
</html>