{% extends 'base.html'%} {% block content %}
<div class="row justify-content-center">
  <h2>Recipe Catalog</h2>
</div>
<div class="container">
  <div class="row">
    <div class="col s2 offset-s4">
      <h5>Filter By:</h5>
    </div>
    <div class="col s6">
      <ul class="nav nav-pills">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Course</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="{{url_for('get_catalog')}}">All Courses</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{url_for('get_catalog_bycourse', course="Breakfast")}}">Breakfast</a>
            <a class="dropdown-item" href="{{url_for('get_catalog_bycourse', course="lunch")}}">Lunch</a>
            <a class="dropdown-item" href="{{url_for('get_catalog_bycourse', course="soup")}}">Soup</a>
            <a class="dropdown-item" href="{{url_for('get_catalog_bycourse', course="Main")}}">Main</a>
            <a class="dropdown-item" href="{{url_for('get_catalog_bycourse', course="dessert")}}">Dessert</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>




<div class="container yellow lighten-4">
  <div class = "row">
    <div class="col s12 divider"></div>
  </div>
  <div>
    
    {% for group in recipes|groupby('course') %}
      <h2>{{ group.grouper }}</h2>
      <div class = "row">
        <div class="col s12 divider"></div>
      </div>
      {% for recipe in group.list %}
      <div class = "row">
        <div class="col s12">
          <h5><a href="{{url_for('show_recipe', recipe_id=recipe._id)}}">{{ recipe.title }}</a></h5>
        </div>
      </div>
      <div class="row">
      <div class="col s6 offset-s2">
        {{recipe.description}}
      </div>
      <div class="col s3">
        <strong>Rating: </strong> {{recipe.rating}}
      </div>
    </div>
      {% endfor %}
      </ul>
      </li>
      {% endfor %}
      </ul>
</div>
</div>

{% endblock %}