{% extends 'base.html'%} {% block content %}
<div class="container">
  <div class="row  justify-content-center">
    <div class="col s12 center">
      <h3 class="white-text text-darken-2 title-block">Recipe Catalog</h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col s2 offset-s2">
      <h5>Filter By:</h5>
    </div>
    <div class="col s6">
        <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Course</a>
        <ul id='dropdown1' class='dropdown-content'>
            <li><a href="{{url_for('get_catalog')}}">All Courses</a></li>
            <li class="divider" tabindex="-1"></li>
            {% for c_desc in courses %}
                <li><a href="{{url_for('get_catalog_bycourse', course=c_desc.course_desc)}}">{{c_desc.course_desc}}</a></li>
            {% endfor %}
        </ul>        
    </div>    
  </div>
  <div class="row">
    <div class="col s6 offset-s3 sel-course-filter">
        {% if sel_course != "ALL" -%}
        <span class="red-text text-accent-4">Selected course: {{ sel_course }}</span>
        {% endif -%}
    </div>

  </div>
</div>

<div class="container">
  <div class = "row">
    <div class="col s12 divider"></div>
  </div>
  <div>
    
    {% for group in recipes|groupby('course') %}
      <h4>{{ group.grouper }}</h4>
      <div class = "row">
        <div class="col s12 divider"></div>
      </div>
      {% for recipe in group.list %}
      <div class = "row">
        <div class="col s12">
          <h5><a href="{{url_for('show_recipe', recipe_id=recipe._id)}}">{{ recipe.title }}</a></h5>
        </div>
      </div>
      <div class="row">
        <div class="col s4">
            <img src="{{recipe.image_url}}" alt="{{ recipe.course }}" width="100%" height="auto"/>
        </div>
        <div class="col s8">
            <div class="row">
                <div class="col s12">
                    {{recipe.description}}
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <strong>Rating: </strong> {{recipe.rating}}
                </div>
            </div>
        </div>
      </div>
      {% endfor %}
      </ul>
      </li>
      {% endfor %}
      </ul>
</div>
</div>

<div>
    <ul class="pagination">
        {% set num_pages = 2 -%}
        {% set left_side = (page - num_pages) -%}
        {% set right_side = (page + num_pages) -%}
        {% set left_edge = (page - (num_pages + 1)) -%}
        {% set right_edge = (page + (num_pages + 1)) -%}

        {% if sel_course != "ALL" -%}
            {% set urlName = "get_catalog_bycourse" -%}
        {% elif sel_course == "ALL" %}
            {% set urlName = "get_catalog" -%}
        {% endif %}
        
        {% for page_no in range(div_times) %}
            {% set act_page = page_no + 1 -%}
                        
            {% if act_page == left_edge -%}
                {% set prev_page = left_edge -%}
                <li class="waves-effect"><a href="{{ url_for(urlName, course=sel_course, page=prev_page) }}"><i class="material-icons">chevron_left</i></a></li>
            {% elif ((act_page >= left_side) and (act_page <= page)) or ((act_page >= page) and (act_page <= right_side))  -%}
                {% if act_page == page -%}
                    <li class="active"><a href="{{ url_for(urlName, course=sel_course, page=act_page) }}">{{ act_page }}</a></li>
                {% else %}
                <li class="waves-effect"><a href="{{ url_for(urlName, course=sel_course, page=act_page) }}">{{ act_page }}</a></li>
                {% endif %}
            {% elif act_page == right_edge -%}
                {% set next_page = right_edge -%}
                <li class="waves-effect"><a href="{{ url_for(urlName, course=sel_course, page=next_page) }}"><i class="material-icons">chevron_right</i></a></li>
            {% endif %}
        {% endfor %}
        
    </ul>
</div>

{% endblock %}