{% extends 'base.html'%} {% block content %}
<div class="container">
  <div class="row  justify-content-center">
    <div class="col s12 center">
      <h3 class="white-text text-darken-2 title-block">Recipe Catalog</h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col s2 offset-s4">
      <h5>Filter By:</h5>
    </div>
    <div class="col s6">
        <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Course</a>
        <ul id='dropdown1' class='dropdown-content'>
            <li><a href="{{url_for('get_catalog')}}">All Courses</a></li>
            <li class="divider" tabindex="-1"></li>
            <li><a href="{{url_for('get_catalog_bycourse', course='Breakfast')}}">Breakfast</a></li>
            <li><a href="{{url_for('get_catalog_bycourse', course='Lunch')}}">Lunch</a></li>
            <li><a href="{{url_for('get_catalog_bycourse', course='Soup')}}">Soup</a></li>
            <li><a href="{{url_for('get_catalog_bycourse', course='Main')}}">Main</a></li>
            <li><a href="{{url_for('get_catalog_bycourse', course='Dessert')}}">Dessert</a></li>
        </ul>        
    </div>    
  </div>
</div>




<div class="container">
  <div class = "row">
    <div class="col s12 divider"></div>
  </div>
  <div>
    
    {% for group in recipes|groupby('course') %}
      <h4>{{ group.grouper }}</h4>
      <div class = "row">
        <div class="col s12 divider"></div>
      </div>
      {% for recipe in group.list %}
      <div class = "row">
        <div class="col s12">
          <h5><a href="{{url_for('show_recipe', recipe_id=recipe._id)}}">{{ recipe.title }}</a></h5>
        </div>
      </div>
      <div class="row">
        <div class="col s4">
            <img src="{{recipe.image_url}}" alt="{{ recipe.course }}" width="100%" height="auto"/>
        </div>
        <div class="col s8">
            <div class="row">
                <div class="col s12">
                    {{recipe.description}}
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <strong>Rating: </strong> {{recipe.rating}}
                </div>
            </div>
        </div>
      </div>
      {% endfor %}
      </ul>
      </li>
      {% endfor %}
      </ul>
</div>
</div>

{% endblock %}