{% extends 'base.html'%} {% block content %}
<div class="container">
  <div class="row  justify-content-center">
    <div class="col s12 center">
      <h2>{{ recipe.title }}</h2>
    </div>
  </div>
</div>

<div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a class="active" href="#general">General</a></li>
        <li class="tab col s3"><a href="#ingredients">Ingredients</a></li>
        <li class="tab col s3"><a href="#prepsteps">Prep. Steps</a></li>
      </ul>
    </div>
    <div id="general" class="container">
	<div class="row">
		<div class="col s11 offset-s1">
			<span class="flow-text">{{recipe.description}}</span>
		</div>
	</div>
	<div class="row">
      <div class="col s2"><i class="fas fa-coffee fa-2x"></i></div>
	  <div class="row">
        <div class="col s5"><strong>Course: </strong></div>
        <div class="col s5"><strong>Cuisine: </strong>{{recipe.cuisine}}</div>
	  </div>
      <div class="row">
        <div class="col s5">{{recipe.course}}</div>
        <div class="col s5">{{recipe.cuisine}}</div>
	  </div>
    </div>
	<div class="row">
      <div class="col s2"><i class="far fa-clock fa-2x"></i></div>
	  <div class="col s5"><strong>Prep. Time: </strong></div>
	  <div class="col s5"><strong>Cook Time: </strong></div>
    </div>
    <div class="row">
      <div class="col s2"></div>
	  <div class="col s5">{{recipe.prep_time}}</div>
	  <div class="col s5">{{recipe.cook_time}}</div>
    </div>
</div>


  </div>

  <div class="container">
    <div class="row">
        <div class="col s4 m6 offset-s3 offset-m6">
            <a class="waves-effect waves-light btn" href="{{url_for('edit_recipe', recipe_id=recipe._id)}}"><i class="material-icons left">edit</i>Edit Recipe</a>
        </div>
    </div>
  </div>



{% endblock %}