{% extends 'base.html'%} {% block content %}
<div class="container">
  <div class="row  justify-content-center">
    <div class="col s12 center title-block">
      <h3 class="white-text text-darken-2">{{ recipe.title }}</h3>
    </div>
  </div>
</div>

<div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a class="active" href="#general">General</a></li>
        <li class="tab col s3"><a href="#ingredients">Ingredients</a></li>
        <li class="tab col s3"><a href="#prepsteps">Prep. Steps</a></li>
      </ul>
    </div>
    <div id="general" class="container">
        <div class="row">
            <div class="col s11 offset-s1">
                <span class="flow-text">{{recipe.description}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col s2"><i class="fas fa-coffee fa-2x"></i></div>
            <div class="row">
                <div class="col s5"><b>Course: </b>{{recipe.course}}</div>
                <div class="col s5"><b>Cuisine: </b>{{recipe.cuisine}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col s2"><i class="far fa-clock fa-2x"></i></div>
            <div class="col s5"><b>Prep. Time: </b>{{recipe.prep_time}}</div>
            <div class="col s5"><b>Cook Time: </b>{{recipe.cook_time}}</div>
        </div>
        <div class="row">
            <div class="col s2"><i class="fas fa-blender fa-2x"></i></div>
            <div class="col s10"><b>Tools used: </b> {{recipe.tools}}</div>
        </div>
        <div class="row">
            <div class="col s2"><i class="fas fa-utensils fa-2x"></i></div>
            <div class="col s5"><b>No. of servings: </b> {{recipe.no_servings}}</div>
            <div class="col s5"></div>
        </div>
        <div class="row">
            <div class="col s2"><i class="fas fa-chart-pie fa-2x"></i></div>
            <div class="col s10"><b>Nutrition per serving:</b></div>
        </div>
        <div class="row">
            <table>
                <thead>
                <tr>
                    <th>Kcal</th>
                    <th>Fat</th>
                    <th>Carbs</th>
                    <th>Sugar</th>
                    <th>Salt</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>{{recipe.kcal}}</td>
                    <td>{{recipe.fat}}</td>
                    <td>{{recipe.carbs}}</td>
                    <td>{{recipe.sugars}}</td>
                    <td>{{recipe.salt}}</td>
                </tr>          
                </tbody>
            </table>
        </div>
    </div>

    <div id="ingredients" class="container">
        <span>Ingredients: {{recipe.ingredients}}</span>
        <ul>
            {% for temp in recipe.ingredients.split('\n') %}
                <li><i class="fas fa-check"></i> {{temp}}</li>
            {% endfor %}
        </ul>
    </div>
    
    <div id="prepsteps" class="container">
    <span>Prep. Steps {{recipe.prep_steps}}</span>
      <ol>
            {% for key in recipe.prep_steps.split('\n') %}
                <li>{{key}}</li>
            {% endfor %}
        </ol>
    </div>

  </div>

  <div class="container">
    <div class="row">
        <div class="col s4 m6 offset-s3 offset-m6">
            <a class="waves-effect waves-light btn" href="{{url_for('edit_recipe', recipe_id=recipe._id)}}"><i class="material-icons left">Edit</i></a>
        </div>
    </div>
  </div>



{% endblock %}