{% extends 'base.html'%} {% block content %}
{% set temp_further = tool.further_info -%}
{% set temp_further = '\n'.join(temp_further) -%}
<div class="container">
  <div class="row  justify-content-center">
    <div class="col s12 center title-block">
      <h5 class="white-text text-darken-2 ">{{ tool.tool_name }} - {{tool.tool_code}} </h5>
      <span class="white-text text-darken-2 ">Price: {{ tool.price }}</span>
    </div>
  </div>
</div>
<div class="container">
    <div class="row">
        <div class="col s4 m2 offset-s8 offset-m10">
            <a class="waves-effect waves-light btn modal-trigger" href="#ComingSoon"><i class="material-icons left">add_shopping_cart</i>Buy</a>
        </div>
    </div>
  </div>
<div class="row">
    <div class="col s6 offset-s3">
        <img src="{{tool.image_url}}" alt="{{ tool.tool_name }}" width="100%" height="auto"/>
    </div>
</div>
<div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a class="active" href="#general">Full Details</a></li>
      </ul>
    </div>
    <div id="general" class="container">
        <div class="row">
            <div class="col s11 offset-s1">
                <ul class="info-list">
                    {% for dets in tool.further_info %}
                        <li><i class="far fa-arrow-alt-circle-right"></i> {{dets}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
  </div>

  <div id="ComingSoon" class="modal">
    <div class="modal-content">
      <h4>ToolsPro Shopping</h4>
      <p>We're sorry this feature is currently unavailable.</p>
      <br>
      <p>Please check back soon</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>

{% endblock %}