{% extends 'base.html'%} {% block content %}
<div class="container">
  <div class="row  justify-content-center">
    <div class="col s12 center">
      <h3 class="white-text text-darken-2 title-block">Featured Tools</h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div>
      <form method=POST action="{{ url_for('tools_search') }}">
        <div class="input-field col s8">
          <input id="toolsearch" name="toolsearch" type="search" placeholder="Search our featured tools" required minlength="3">
          <label class="label-icon" for="toolsearch"></label>
          
        </div>
        <div class="col s2">
            <button type="submit" class="btn btn-primary btn-block"><i class="material-icons">search</i></button>
        </div>
        <div class="col s2">
            <a href="{{url_for('featured_tools')}}" name="show_all_tools" class="waves-effect waves-light btn btn_medium" title="Show Full Tools List">
            <i class="fas fa-clipboard-list"></i></a>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <div class = "row">
    <div class="col s12 divider"></div>
    {% if tools.count() == 0 -%}
          <div>No tools were found for the search text entered</div>
    {% endif %}
  </div>
  <div>
    
    {% for tool in tools %}
      <div class = "row">
        <div class="col s12 m10 offset-m2">
          <h5><a href="{{url_for('show_tool', tool_id=tool._id)}}">{{ tool.tool_name }}</a></h5>
        </div>
      </div>
      <div class="row">
        <div class="col s4 offset-m2">
            <img src="{{tool.image_url}}" alt="{{ tool.tool_name }}" width="100%" height="auto"/>
        </div>
        <div class="col s8 m6">
            <div class="row">
                <div class="col s12">
                    {{tool.description}}
                </div>
            </div>
            
        </div>
      </div>
      {% endfor %}
      </ul>
      
</div>
</div>


{% endblock %}